//
   Created by manjunath on 11/22/2016.

footer
   section.footer-info
      .container
         .row
            ul.footer-blocks
               li.col-sm-4.footer-block__items
                  span.footer-blocks__heading Need Help
                  .contact-info
                     span Email Id
                        a(href="#") Need help
                     span Phone number
                        a(href="tel: +9538509629") +9538509629
               li.col-sm-4.footer-blocks__items
                  span.footer-blocks__heading want to join us?
                     a(href="#")
                        button.button-default.button-default--about-bonito Explore Careers

               li.col-sm-4.footer-block__items
                  span.footer-blocks__heading Follow us



