footer
   section.footer-info.text-center
      .container
         .row
            ul.footer-blocks
               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading Need Help
                     .contact-info
                        span Email Id :
                           a(href="#") ramya@bonito.in
                        span Phone number :
                           a(href="tel: +9538509629") +9538509629
               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading want to join us?
                     a(href="#")
                        button.button-default.button-default--white Explore Careers                      

               li.col-xs-12.col-sm-4
                  .footer-blocks__items
                     span.footer-blocks__heading Follow us
                     a.social-links(href="#" aria-hidden="true")
                        i.fa.fa-medium.item-white.social-links__medium
                     a.social-links(href="#" aria-hidden="true")
                        i.fa.fa-twitter.item-white.social-links__twitter
                     a.social-links(href="#" aria-hidden="true")
                        i.fa.fa-facebook.item-white.social-links__facebook
                     a.social-links(href="#" aria-hidden="true")
                        i.fa.fa-twitter.item-white.social-links__google

   // copyright 

   section.copy-right.text-center
      span Copyright 2013 Bonito Designs |  All rights reserved |  Crafted by 
         a.item-white(href="#" target="_blank") Lollypop


               



