
// header nav

#bnt-header-menu{
  padding: 15px 0;
}

// nav-header

#bnt-header-menu{
  .navbar-brand{
    padding: 10px 15px;
  }
}

#bnt-header-menu.navbar-default .navbar-nav > li > a{
  display: block;
  color: $light-black;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'Lato-Light';
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  // tablet and desktop
  @media (min-width: 768px) {
    padding: 10px 20px;
  }
}

.navbar-default{
  background: $white;
  border-color: transparent;
}