
// header nav

#bnt-header-menu{
  padding: 15px 0;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}

// nav-header

#bnt-header-menu{
  .navbar-brand{
    padding: 10px 15px;
  }
}

#bnt-header-menu.navbar-default .navbar-nav > li > a{
    display: block;
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Lato-Light';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    letter-spacing: 1px;
  @media (min-width: 768px) {
    padding: 10px 20px;
  }
}

.navbar-default{
  background: $white;
  border-color: transparent;
}