// portpolio

.portfolio-details{
	margin-top: 50px;
	padding-top: 35px;
	@media(min-width:768px){ 
		margin-top: 80px;
		padding-top: 70px;
	}
}

// project-heading pannel

.project-heading{
	// @include sectionPadding;
	.section-intro__heading, .section-intro__info{
		text-align: left;
	}
	.section-intro__heading{
		&::before{
			left:0;
			transform: translateX(0%);
		}
	}
	.section-intro__info{
		margin:0;
		max-width: auto !important;
		padding-bottom: 30px;
	}
}

// project flat-details 

.flat-details-list{
	@include sectionPadding;

	&__heading{
		font: {
			family: 'Monteserrat-Regular';
			weight: 100;
			size: 18px;
		}
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
		color: $dark-blue;
		line-height: 30px;
		@media(min-width:768px){ 
			font: {
				size: 24px;
			}
			line-height: 34px;
		}
	}
	&__intro{
		border: 2px solid $dark-blue;
		padding: 15px;
		margin: 20px 0;
		color: #181818;
		font-size: 14px;
		line-height: 24px;
		@media(min-width:768px){ 
			font-size: $fnt-sm;
			line-height: 28px;
			padding: 20px;
		}
	}
}

// box-slider 

.project-list {
	display: flex;
	align-items: center;
	position: relative;
	margin: 20px;
	.slick-arrow{
		position: absolute;
		z-index: 10;
	}
}

.slick-prev, .slick-next{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid $white; 
}

// slick prev

.slick-prev {
	left:20px;
}

// slick next

.slick-next{
	right: 20px;
	transform: rotate(180deg);
}

// project team-member-list

.projcet-team{
	display: flex;
	@include sectionPadding;
    
	&__member{
		display: flex;
    	align-items: center;
    	.card-img-wrapper{

    	}
    	.card-view{
    		padding:0 50px;
    	}
	}
}
