

section.about-us-video-section
	.container
		.row
			.col-sm-8.col-sm-offset-2.our-blog__intro
				include ../comman/section-intro.jade
				+section-intro("Videos you’ll love", "Every home’s interior is a story. A story worth knowing and writing about. We give time for this as we know that the next story is yours")
			
			.about-us-video-section-container.clearfix
				.col-sm-7
					.about-us-video-banner__wraper
						img.about-us-video-banner-img(src="img/about-us-video-banner.png" alt="about-video-baner")
						.rectangular-border-bottom-right
						i.fa.fa-play-circle-o.about-us-video-banner-icon  

				.col-sm-5.clearfix
					.about-us-video-content
						img.about-us-video-content__quote-icon(src="img/quote-icon.png")
						.about-us-video-content__quote “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”
						.about-us-video-content__quote-by Hemant Bajrangi,
						.about-us-video-content__quote-about Happy bonito Customer


			.col-sm-12.text-center
				a.button-default.button-filled.button-default--about-us-video view MORE 

					
