
.banner-slider
	.banner-slider-wraper
		.banner-slider__img-wraper.carousel.slide(data-ride="carousel")
			//- .banner-slider__img

			ul.carousel-inner(role="listbox")
				li.item.active
					img.banner-slider__img(src="img/banner-slider__img.png")

				li.item
					img.banner-slider__img(src="img/banner-slider__img.png")

				li.item
					img.banner-slider__img(src="img/banner-slider__img.png")

				li.item
					img.banner-slider__img(src="img/banner-slider__img.png")

			//- ol.carousel-indicators
			//- 	li.active(data-target="#myCarousel" data-slide-to="0")
			//- 	li(data-target="#myCarousel" data-slide-to="1")
			//- 	li(data-target="#myCarousel" data-slide-to="2")
			//- 	li(data-target="#myCarousel" data-slide-to="3")



			.rectangular-border-banner
			.banner-slider__content
				span.banner-slider__info Welcome to Bonito- 
				h1.banner-slider__heading INTERIOR DESIGN STUDIO
