.banner-slider

	.banner-slider-wraper
		.banner-slider__img-wraper
			ul.carousel-inner(role="listbox")
				li.item.active
					img.banner-slider__img(src="img/banner-slider__img.png")

				li.item
					img.banner-slider__img(src="img/banner-slider__img.png")

				li.item
					img.banner-slider__img(src="img/banner-slider__img.png")

			.rectangular-border-banner
			.banner-slider__content
				span.banner-slider__info Welcome to Bonito- 
				h1.banner-slider__heading INTERIOR DESIGN STUDIO
