// get-in touch contact form 

section.get-in-touch
	.container
		include ../comman/section-intro.jade
		+section-intro("We want to hear from you", "Don't step back. It's your right to know if we're good for you. We'd be more than happy and waiting to offer our services for you.")

		.contact-form
			form.clearfix.text-center
				.col-sm-4
					span.input.input--kohana
						input.input__field.input__field--kohana#input-29(type="text")
						label.input__label.input__label--kohana(for="input-29")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Full name
				.col-sm-4
					span.input.input--kohana
						input.input__field.input__field--kohana#input-30(type="text")
						label.input__label.input__label--kohana(for="input-30")
							i.fa.fa-envelope-o.icon.icon--kohana(aria-hidden="true")
							span.input__label-content.input__label-content--kohana	yashna@bonito.com
				.col-sm-4		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-31(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Contact Number

				.col-sm-6		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-32(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Floor Area (sq. ft)
							
				.col-sm-6		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-33(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Apartment Type

				.col-sm-6		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-33(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Apartment Type	
							
				.col-sm-6		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-33(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Apartment Type
				
				.col-sm-12		
					span.input.input--kohana
						input.input__field.input__field--kohana#input-33(type="text")
						label.input__label.input__label--kohana(for="input-31")
							i.fa.fa-fw.fa-clock-o.icon.icon--kohana
							span.input__label-content.input__label-content--kohana	Leave your message here..								
			
			



				a.button-default.button-default--about-bonito submit			
