

section.our-services
	.container
		.row
			.col-sm-10.col-sm-offset-1

				.col-sm-10.col-sm-offset-1.our-services-intro
					include ../comman/section-intro.jade
					+section-intro("What we can do for you", "Interior designing can be daunting at first; nevertheless, following are two important things that matter to you to begin with.")
						
				.col-sm-6.services
					//- +feature_block("img/design-only.png", "DESIGN ONLY", "jebgejwbgjlo.")
					.col-sm-8.col-sm-offset-2
						div.services-icon
							div.services-icon__wraper
								img.services-icon__img(src="img/design-only.png" alt="Design only")
								.rectangular-border.rectangular-border-top 
					.col-sm-12.services-content-wraper
						.services__heading DESIGN ONLY
						p.services__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

				.col-sm-6.services
					.col-sm-8.col-sm-offset-2
						div.services-icon
							div.services-icon__wraper
								img.services-icon__img(src="img/turnkey-project.png" alt="Design only")
								.rectangular-border.rectangular-border-top 
					.col-sm-12.services-content-wraper
						.services__heading TURNKEY PROJECTS
						p.services__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

			.col-sm-12.text-center
				.button-default.button-default--about-bonito.button-default--our-services know more
