

section.our-services
	.container
		.row
			.col-sm-10.col-sm-offset-1

				.col-sm-10.col-sm-offset-1
					include ../comman/section-intro.jade
					+section-intro("What we can do for you", "Interior designing can be daunting at first; nevertheless, following are two important things that matter to you to begin with.")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur beatae temporibus consequatur quo minima quae, quis deserunt ex at repellat veniam, hic praesentium vero fuga ut delectus provident nostrum quos.
					
				.col-sm-6 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi minus necessitatibus reiciendis quo modi, sequi quas dolorum non ipsa similique numquam asperiores unde nulla, sapiente assumenda, repellat provident quia laborum.
					
				
				