//our-story

section.our-story
	.container

		include ../comman/section-intro.jade
		+section-intro("Who we are")

		.our-story-banner
		
		.col-sm-10.col-sm-push-1

			.white-patch.white-patch--spacing.text-center
				span  Each of our team member take up a very  special and unique role when it comes to designing and executing projects.

				<a class="button-default button-filled">MEET OUR TEAM</a> 	
