

section.our-blog
	.container
		.row
			.col-sm-8.col-sm-offset-2.our-blog__intro
				include ../comman/section-intro.jade
				+section-intro("We write to get you inspired", "Every home’s interior is a story. A story worth knowing and writing about. We give time for this as we know that the next story is yours")

			.col-sm-6.blog-card
				.blog-card-wraper
					img.blog-card__img.img-responsive(src="img/blog-img1.png", alt="blog card img")
					.blog-card__label
						span.blog-card__date 03 Nov, 2016
				h3.blog-card__heading A quick look at Salarpuria Greenage apartment interiors at Bommanahalli
				p.blo-card__info There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed...
				a.cta-link.blog-card__cta read more


			.col-sm-6.blog-card
				.blog-card-wraper
					img.blog-card__img.img-responsive(src="img/blog-img1.png", alt="blog card img")
					.blog-card__label
						span.blog-card__date 03 Nov, 2016
				h3.blog-card__heading A quick look at Salarpuria Greenage apartment interiors at Bommanahalli
				p.blo-card__info There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed...
				a.cta-link.blog-card__cta read more

			.col-sm-12.text-center.blog-card__button-wraper 
				a.button-default.button-default--about-bonito READ MORE BLOGS

					
