// our-clients 

section.our-clients
	.container
		.row
			.col-sm-10.col-sm-push-1
				include ../comman/section-intro.jade
				+section-intro("Our clients")

				// our clients logos 

				ul.our-clients__lists.our-clients-slider
					li
						img(src="./img/clients/sattva-logo.png " alt="Sattva Brand-logo")

					li
						img(src="./img/clients/eden-greens.png" alt="Sattva Brand-logo")

					li
						img(src="./img/clients/brigrade-logo.png" alt="Sattva Brand-logo")
					li
						img(src="./img/clients/brigrade-logo.png" alt="Sattva Brand-logo")
