

section.our-work
	.container
		.row
			.col-sm-8.col-sm-offset-2.our-blog__intro
				include ../comman/section-intro.jade
				+section-intro("We take pride in our work", "Interior designing is not just to impress your guests but also to ensure that when you’re away from your beautiful home, it makes you want to come back. That’s what we do.")

			.our-work-wraper

				ul.work-list
					.col-sm-6
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work1.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work2.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work3.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita
					.col-sm-6
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work4.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work5.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita
						li.work-list__item
							.work-list__link(href="#")
								img(src="/img/work6.png", alt="our work images")
								.work-list__caption
									.work-list__owner Mr. Shaman Ahuja
									.work-list__info 3bhk home interiors in Salarpuria Senorita

			.col-sm-12.text-center
				a.button-default.button-filled.button-default--about-bonito view MORE 

					
