

section.our-work
	.container
		.row
			.col-sm-8.col-sm-offset-2.our-blog__intro
				include ../comman/section-intro.jade
				+section-intro("We take pride in our work", "Interior designing is not just to impress your guests but also to ensure that when you’re away from your beautiful home, it makes you want to come back. That’s what we do.")

			.our-work-wraper.col-sm-12

				ul.image-thumbnail
					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work1.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita
									

					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work4.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita

					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work2.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita

					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work5.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita

					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work3.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita

					li.image-thumbnail__item.grid
						figure.image-thumbnail__link.effect-bubba(href="#")
							img.image-thumbnail__img(src="img/work6.png", alt="our work images")
							figcaption
								.image-thumbnail__caption
									a.about-us-video-banner-icon.video#open-popup
										i.fa.fa-play-circle-o
									h3.image-thumbnail__owner Mr. Shaman Ahuja
									p.image-thumbnail__info 3bhk home interiors in Salarpuria Senorita
			.col-sm-12.text-center
				a.button-default.button-filled.button-default--about-bonito.button-default--view-more view MORE 

					
