@font-face {
  font-family: 'Monteserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Bold/Montserrat-Bold-webfont.svg#Monteserrat-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Monteserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Regular/Montserrat-Regular-webfont.svg#Monteserrat-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book/Gotham-Book-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Book/Gotham-Book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham-Book/Gotham-Book-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gotham-Book/Gotham-Book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Gotham-Book/Gotham-Book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham-Book/Gotham-Book-webfont.svg#Monteserrat-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium/Gotham-Medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Medium/Gotham-Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham-Medium/Gotham-Medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gotham-Medium/Gotham-Medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Gotham-Medium/Gotham-Medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham-Medium/Gotham-Medium-webfont.svg#Monteserrat-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic-webfont.svg#Monteserrat-Bold') format('svg'); /* Legacy iOS */
}