
//Font-colors

$dark-blue:#00355f;
$white:#fff;
$black:#000;
$light-black:#181818;

//background colors

$bg-light-blue:#f9fcfd;

//other colors

body {
	font-family: 'Lato', sans-serif;
}
$btn-border: #606364;

h1 {
	font-family: 'Monteserrat-Regular';
	font-size: 34px;
	line-height: 44px;
	@media(min-width:768px){ 
		font-size: 44px;
		line-height: 44px;
	}
	@media(min-width:992px){ 
		font-size: 52px;
		line-height: 62px;
	}
}

h2 {
	font-size:24px;
	line-height:34px;
	font-weight:400;
	font-family: 'Monteserrat-Regular';

	@media(min-width:992px){
		font-size:38px;
		line-height:48px;
	}
}

p {
	  font-family: 'Lato-Regular';
	  font-size: 13px;
	  line-height: 23px;
	  @media(min-width:768px){
		 font-size: 14px;
	 	 line-height: 24px;
		}
		@media(min-width:992px){
			font-size: 16px;
		  	line-height: 26px;
		}
}

.button-default {
	padding: 15px 40px;
	display:inline-block;
	border:1px solid $btn-border;
	text-align:center;
	text-transform:uppercase;
	color: $light-black;
	font-size:16px;
	transition: all 0.6s ease;
	&:hover {
		color: $white;
		background: $light-black
	}
}

.rectangular-border {
	 border: 1px solid #191616;
	    position: absolute;
	    bottom: -20px;
    	left: -20px;
	    height: 100%;
	    width:100%;
}

@mixin sectionPadding(){
	padding:50px 0;

	@media(min-width:768px){
		padding:50px 0;
	}
	@media(min-width:992px){
		padding:70px 0;
	}
}

@mixin backgroundImg ( $background-img, $background-size, $background-position, $backgrounf-repeat){
	background-image: url($background-img);
	background-size:$background-size;
	background-position:$background-position;
	background-repeat:$backgrounf-repeat;
}

@mixin flex-box($display, $align-item, $justify-content){
	display:$display;
	align-items:$align-item;
	justify-content:$justify-content;
}

//comman checkbox

