// Primary Colors
$orange: #F36D21;
$orange-light: #f26d20;
$orange-dark: #B84300;
$gray-light: #F6F5F5;
$gray-divider: #e9e9e9;
$white:#fff;

// Background Colors
$bg-orange: #F36D21;
$bg-gray: #F6F5F5;


// Text colors
$text-gray-light: #999;
$text-gray-med: #666;
$text-gray-dark: #333;
$teal-grey:#f8f5f1;
$teal-light:#f6f5f5;
$teal-ligther:#f8f5f2;
$teal-pink :#faf7f3;

// Text colors
$gray-light: #999;
$gray-med: #666;
$gray-dark: #333;



.cta-more {
	color: $orange;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 16px;
		height: 10px;
		background: url('../img/arrow.svg');
		background-size: contain;
		top: 50%;
		right: 0;
		transform: translate(20px, -50%);
		opacity: 1;
		transition: all .25s ease-in-out;
	}

	&:hover {
		&::after {
		transform: translate(25px, -50%);
			opacity: 1;
		}
	}
}

.button {
	display: inline-block;
	padding: 15px 18px;
	background: transparent;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	transition: all .25s ease;
	// background-image: url('../img/wave_white.png');

	// &:hover {
	// 	background: #fff;
	// 	color: $orange-dark;
	// }

	&--orange {
		color: $orange-dark;
		border-color: $orange-dark;
		background-image: url('../img/wave_orange1.png');
		&:hover {
			// background: $orange-dark;
			color: #fff;
		}
	}

	&--email {
		text-transform: lowercase;
	}
}

.button--white {
    color: $white;
    border-color: $white;
    
}

.button {
		position:relative;
		overflow:hidden;
		cursor: pointer;
		padding:15px 30px;
		background-position: 0 -10%;
		background-repeat: repeat-x;
	    transition: background-position .75s ease, color .75s ease;

		// background-image: url('../img/wave_orange1.png');


   		&:hover {
			background-position: 100% 60%;
			color: white;
		}

		&:hover:before {
			-webkit-animation: slideDown 0.9s linear infinite;
		    -moz-animation: slideDown 0.9s linear infinite;
		    animation: slideDown 0.9s linear infinite;
		}

		&::before {  
			content: "\f178";
			font-family: fontAwesome;
			font-size: 20px;
			width:20px;
			height:20px;
			position:absolute;
			right:5px;
			top:50%;
			transform:translateY(-60%) translateZ(0);
			opacity: 0;
		}
	}

@keyframes slideDown {
	0% {
		opacity: 0;
	     right: 15px;
	}

	30% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	    right: -30px;
	}
}


.tags-list {

	&__tag {
		display: inline-block;
		margin-right: 20px;
		color: $text-gray-med;

		a {
			&::before {
				content: "# ";
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
	
}


.cta-block {
	padding: 70px 0px;
	text-align: center;

	&--orange {
		background: $orange;
	}
}


@mixin backgroundImg ( $background-img, $background-size, $background-position, $backgrounf-repeat){
	background-image: url($background-img);
	background-size:$background-size;
	background-position:$background-position;
	background-repeat:$backgrounf-repeat;
}

@mixin comman-para {
	color:$text-gray-med;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 25px;
	
	@media(min-width:992px){
		font-size: 16px;
		line-height: 32px;
		margin: 0;
		margin-bottom: 30px;
	}
}

@mixin flex-box($display, $align-item, $justify-content){
	display:$display;
	align-items:$align-item;
	justify-content:$justify-content;
}




.bg-teal {
	background: $teal-pink;
}

.text-capitalize {
	text-transform: capitalize;
}

.hakuna-common-banner {
	@include backgroundImg ( '../img/tvs-banner.png', cover, center, no-repeat);
	height: 400px;
	position: relative;
	display: flex;

	@media screen and (min-width: 768px) {
		height: 500px;
	}
}

.hakuna-common-banner-description {
	background-color: $teal-pink;
	padding: 45px 0;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	@media screen and (min-width: 992px) {
		padding: 70px 0;
	}

	&__content {
		color: $text-gray-light;
	}

	&__quote {
		color: #666;
	    font-size: 20px;
	    line-height: 38px;
	    font-style: italic;

	    @media screen and (min-width: 992px) {
	    	padding-right: 11em;
	    }
	}



	&__sub-heading {
		text-transform: uppercase;
		font-size: 18px;
		margin: 45px 0 25px 0;
	}
}

