
.banner-slider
	.container
		.col-sm-10.col-sm-offset-1
			.banner-slider-wraper
				.banner-slider__img-wraper
					.banner-slider__img

				.rectangular-border-banner
					.banner-slider__content
						span Welcome to Bonito- 
						h1 INTERIOR DESIGN STUDIO
