//- section.portfolio-details
//- 	.container
//- 		.project-heading
//- 			include ../comman/section-intro.jade
//- 			+section-intro("Shaaman Ahuja", "Salarpuria Senorita Apartments")

//- 		.project-video-banner.posit-relative
//- 			a.about-us-video-banner-icon.about-us-video-banner-icon--lg.video#open-popup
//- 				i.fa.fa-play.fa-play--lg

//- 		.col-sm-10.col-sm-push-1

//- 			.white-patch.white-patch--spacing.text-center
//- 				span  Parents bedroom has a huge wardrobe with an interesting pattern while kids bedroom is fully designed with hues of blues and whites. Check out other interesting designs in this album.

//- 		ul.flat-details-list
//- 			li.flat-details-list__item
//- 				span Sarjapur, Bangalore

//- 			li.flat-details-list__item
//- 				span Sarjapur, Bangalore

//- 			li.flat-details-list__item
//- 				span Sarjapur, Bangalore

//- 			li.flat-details-list__item
//- 				span Sarjapur, Bangalore			
