

.about-bonito-wraper
 {
 	@media(min-width:768px){
	 	display: flex;
	 	align-items:flex-end;
 	}
 }
.about-bonito {
	@include sectionPadding;
}

.about-bonito-banner {
	position:relative;
	margin-bottom:60px;

	@media(min-width:768px){
		margin-bottom: 0;
	}

}

.button-default--about-bonito  {
	margin:40px 15px 0 15px;

	@media(min-width:768px){
		margin:45px 0 0 0;
	}
	@media(min-width:992px){
		margin:55px 0 0 0;
	}
}