.rapidfire-questions {
	padding: 35px 0px;

	@media(min-width: 768px) {
		padding: 50px 0px;
	}
	@media(min-width: 768px) {
		padding: 70px 0px;
	}
	
	.section-intro__info {
		 display: none;
	}

}

.rapidfire-qa-container {

	margin-top: 25px;
	
	@media(min-width: 768px) {
		margin-top: 30px;
	}
	:first-child {
		margin-top: 50px;
	}
}

.rapidfire-que {
	font-family: 'PlayfairDisplay-Bold', serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4px;
	@media(min-width: 768px) {
		font-size: 18px;
		line-height: 18px;
	}

	@media(min-width: 1200px) {
		font-size: 20px;
		line-height: 22px;
	}
}

.rapidfire-ans {
	font-family: 'Lato-Regular', serif;
	font-weight: normal;
	margin-top: 20px;
	font-size: 14px;
	line-height: 22px;
	&:last-child {
		margin-bottom: 25px;
	}
	
	@media(min-width: 768px) {
		font-size: 14px;
		line-height: 26px;
		&:last-child {
			margin-bottom: 30px;
		}
	}

	@media(min-width: 1200px) {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.6px;
	}
	
}