
.our-services {
	background:$bg-light-blue;
	@include sectionPadding;

}

.services-icon {
	@include flex-default;
	margin-bottom: 30px;

	@media(min-width: 768px) {
		margin-bottom: 0px;
	}
	
	&__wraper {
		background:$bg-medium-blue;
		@include flex-default;
		padding:60px;
		position: relative;

		@media(min-width:768px){
			padding:30px;
			margin-bottom:45px;
		}
		@media(min-width:992px){
			padding:60px;
		}
	}
}

.our-services-intro {
	padding-bottom:80px;
	@media(min-width:768px){
		padding-bottom:100px;
	}
}

.services-content-wraper {
	text-align:center;
	padding-top:30px;
	@media(min-width:768px){ 
		padding-top:0;
	 }
	 @media(min-width:992px){ 
		padding-top:0;
	 }
}

.services {
		&__heading {
		font-size:18px;
		line-height: 28px;
		padding-bottom:20px;
		text-transform:uppercase;
		font-weight: 500;
		@media(min-width:768px){ 
			padding-bottom:15px; 
		}
		@media(min-width:992px){ 
			font-size:24px;
			line-height: 34px;
		}
	}
}

div.services:last-of-type{
	padding-top:80px;
	@media(min-width:768px){ 
		padding-top:0;
	 }
}

.button-default--our-services {
	@media (min-width: 992px) {
		  margin: 70px 0 0 0;
	}
}
