doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Bonito: About us
		link(rel="stylesheet", href="css/main.css")
	body
		include jade-components/base/header-nav.jade
		//START: Main
		main
			//START: About us Banner
			section.about-us-container
				
				.about-us-banner.col-sm-12
					.rectangular-border-bottom-right.rectangular-border-bottom-right--about-us-banner
					.about-us-banner__image.col-sm-offset-2
						img(src='img/banner.png')
			
			//START: About us content

			section.about-us-content-container
				.container
					.row
						.about-us-content.col-xs-7.col-xs-offset-1
							h2.banner-slider__heading.about-us-content__heading hello!
						.col-xs-12.col-sm-10.about-us-right.col-sm-offset-1.col-md-6
							p.section-intro__info.about-us-content__info We’re a small but cute firm. Each of our team member take up a very special and unique role when it comes to designing and executing projects. We can say to an extent that each of the team members form unique pieces of puzzle which makes sense only when they’re together and there is no big piece or small piece in a puzzle.

			//START: Our Methodologies
			
			section.about-us-container
				.container
					.row
						h2.section-intro__heading Methodology in our madness
						p.section-intro__info.section-intro__intro--about-us