doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Bonito: About us
		link(rel="stylesheet", href="css/main.css")
	body
		include jade-components/base/header-nav.jade
		//START: Main
		main
			//START: About us Banner
			section.about-us-container
				
				.about-us-banner.col-sm-12
					.rectangular-border-bottom-right.rectangular-border-bottom-right--about-us-banner
					.about-us-banner__image.col-sm-offset-2
						img(src='img/banner.png')
					.about-us-banner__content
