doctype html
html(lang='en-us')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Bonito -  Blog
		link(rel="stylesheet", href="css/main.css")

	body
		// header
		include jade-components/base/header-nav
		
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est provident assumenda veniam unde dolorum, dolorem earum placeat maxime iusto dicta in suscipit. Tenetur aliquid doloribus illum commodi repellat rem.
		
		//footer
		include jade-components/base/footer.jade

		script(src="js/plugins/jquery.min.js")
		script(src="js/plugins/bootstrap.min.js")

