doctype html
html(lang='en-us')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Bonito -  Blog - Details
		link(rel="stylesheet", href="css/main.css")

	body
		// header
		include jade-components/base/header-nav
		
		//main-content
		main.comman-margin

		section.blog-section
			.container
				.row
					.blog-wrapper
						aside.col-md-3.blog-aside.blog-aside--details

							.blogger
								.blogger__profile
									img.blogger__profile-img.img-circle(src="img/bloger.png")

								.blogger__wraper
									.blogger__meta-data Written By 
									.blogger__name Mihit Kottekattinmel
									.blogger__blog-date Nov 8, 2016

								p.blogger__details Contemporary- modern design with little antique touch is the theme of this apartment interiors, which is very unique on its own. A Home without wood work will always  look incomplete.


							.categories.categories
								.categories__heading.hidden-xs.hidden-sm Categories
								ul.categories__lists
									li.categories__item
										a(href="#").categories__link Blog
											span.categories__count (132)
									li.categories__item
										a(href="#").categories__link  Home Decor 
											span.categories__count (102)
									li.categories__item
										a(href="").categories__link  Foyer 
											span.categories__count (2)
									li.categories__item
										a(href="").categories__link  Living
											span.categories__count  (3)
									li.categories__item
										a(href="").categories__link  Bedrooms 
											span.categories__count (9)
									li.categories__item
										a(href="").categories__link  Dining  
											span.categories__count (2)
									li.categories__item
										a(href="").categories__link  Kitchen 
											span.categories__count (17) 
									li.categories__item.hidden-xs.hidden-sm
										a.cta-link More.. 
							.tabs
								ul.nav.nav-tabs
									li.active
										a(href="#menu1" data-toggle="tab") first
									li
										a(href="#menu2" data-toggle="tab") seod
									li
										a(href="#menu3" data-toggle="tab") this
								.tab-content
									#menu1.tab-pane.fade.in.active
										P first tab
									#menu2.tab-pane.fade 
										P second tab
									#menu3.tab-pane.fade 
										P thid tab





						.col-sm-12.col-md-9.blog-content

							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestiae mollitia possimus voluptate debitis distinctio, temporibus! Aliquam sequi magni sit, repellat, illo exercitationem ullam eveniet aperiam, placeat perspiciatis veniam eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestiae mollitia possimus voluptate debitis distinctio, temporibus! Aliquam sequi magni sit, repellat, illo exercitationem ullam eveniet aperiam, placeat perspiciatis veniam eligendi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestiae mollitia possimus voluptate debitis distinctio, temporibus! Aliquam sequi magni sit, repellat, illo exercitationem ullam eveniet aperiam, placeat perspiciatis veniam eligendi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestiae mollitia possimus voluptate debitis distinctio, temporibus! Aliquam sequi magni sit, repellat, illo exercitationem ullam eveniet aperiam, placeat perspiciatis veniam eligendi!
						


		
		//footer
		include jade-components/base/footer.jade

		script(src="js/plugins/jquery.min.js")
		script(src="js/plugins/bootstrap.min.js")

