doctype html
html(lang='en-us')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Bonito -  Blog - Details
		link(rel="stylesheet", href="css/main.css")

	body
		// header
		include jade-components/base/header-nav
		
		//main-content
		main.comman-margin

		section.blogger-banner-section
			.container
				.row
					.blogger-banner
						img.blogger-banner__img(src="img/blog-details.png", alt="blogger banner image")
						.blogger-banner__border
							.blogger-banner__content
								h2.blogger-banner__info A quick look at Salarpuria Greenage apartment interiors at Bommanahalli


		section.blog-section
			.container
				.row
					.blog-wrapper
						aside.col-md-3.blog-aside.blog-aside--details

							.blogger
								.blogger__profile
									img.blogger__profile-img.img-circle(src="img/bloger.png")

								.blogger__wraper
									.blogger__meta-data Written By 
									.blogger__name Mihit Kottekattinmel
									.blogger__blog-date Nov 8, 2016

								p.blogger__details Contemporary- modern design with little antique touch is the theme of this apartment interiors, which is very unique on its own. A Home without wood work will always  look incomplete.


							.categories.categories--details
								.categories__heading Categories
								ul.categories__lists
									li.categories__item
										a(href="#").categories__link Blog
											span.categories__count (132)
									li.categories__item
										a(href="#").categories__link  Home Decor 
											span.categories__count (102)
									li.categories__item
										a(href="").categories__link  Foyer 
											span.categories__count (2)
									li.categories__item
										a(href="").categories__link  Living
											span.categories__count  (3)
									li.categories__item
										a(href="").categories__link  Bedrooms 
											span.categories__count (9)
									li.categories__item
										a(href="").categories__link  Dining  
											span.categories__count (2)
									li.categories__item
										a(href="").categories__link  Kitchen 
											span.categories__count (17) 
									li.categories__item.hidden-xs.hidden-sm
										a.cta-link More.. 
							.tabs
								ul.nav.nav-tabs
									li.active
										a(href="#menu1" data-toggle="tab") Popular
									li
										a(href="#menu2" data-toggle="tab") Guide
									li
										a(href="#menu3" data-toggle="tab") Popular

								.tab-content.nav-tabs-wrapper
									#menu1.tab-pane.fade.in.active
										P.tabs__content Study room design for two Study room for two..
										p.tabs__content The handles and knob turns it into an antique furniture..

									#menu2.tab-pane.fade 
										P.tabs__content Study room design for two Study room for two..
										p.tabs__content The handles and knob turns it into an antique furniture..

									#menu3.tab-pane.fade 

										P.tabs__content Study room design for two Study room for two..
										p.tabs__content The handles and knob turns it into an antique furniture..

              



						.col-sm-12.col-md-9.blog-content.blog-content--details

							article.blog-detail-wrapper

								h3 Contemporary- modern design with little antique touch is the theme of this apartment interiors, which is very unique on its own. 

								p A Home without wood work will always look incomplete. Foyer with antique touch We have designed a spacious shoe rack to keep this high traffic area from getting cluttered with piles of shoe.The handles and knob turns it into an antique furniture. Beautiful stone cladding in the background and spot lights gives more definition to the foyer area.

								p Nowadays it has generated an evolution towards more sharing spaces. Mainly between living, dining and the kitchen. This encourages togetherness closeness and creates much more interactive environment for the family. As designers, it boosts the scope of bringing in new ideas in the design as we exist in a vibrant industry where innovation is at the core of most of what we do.

								p Master bedroom wardrobe storage units We have designed a spacious shoe rack to keep this high traffic area from getting cluttered with piles of shoe.The handles and knob turns it into an antique furniture. Beautiful stone cladding in the background and spot lights gives more definition to the foyer area.

								img(src="img/blog-details1.png", alt="blog-details-img")

								h3 Master bedroom wardrobe storage units

								p A Home without wood work will always look incomplete.Foyer with antique touch We have designed a spacious shoe rack to keep this high traffic area from getting cluttered with piles of shoe.The handles and knob turns it into an antique furniture. Beautiful stone cladding in the background and spot lights gives more definition to the foyer area.
								
								.blog-gallery.clearfix
									.col-sm-12.col-md-8.blog-gallery__left
										img(src="img/blog-details2.png", alt="blog-details-img")
									.col-sm-6.col-md-4.blog-gallery__right
										img(src="img/blog-details3.png", alt="blog-details-img")
									.col-sm-6.col-md-4.blog-gallery__right
										img(src="img/blog-details4.png", alt="blog-details-img")

								h3 Study room design for two

								p The study room is designed with very minimal furniture, which can also be used as a multipurpose area. Birds on branch wall decor in this room is a perfect blend between natural and elegant decor. The study room is designed with very minimal furniture, which can also be used as a multipurpose area. Birds on branch wall decor in this room is a perfect blend between natural and elegant decor.
								p We have designed a spacious shoe rack to keep this high traffic area from getting cluttered with piles of shoe.The handles and knob turns it into an antique furniture. Beautiful stone cladding in the background and spot lights gives more definition to the foyer area.

								p Nowadays it has generated an evolution towards more sharing spaces. Mainly between living, dining and the kitchen. This encourages togetherness closeness and creates much more interactive environment for the family. As designers, it boosts the scope of bringing in new ideas in the design as we exist in a vibrant industry where innovation is at the core of most of what we do.
								
								.blog-quotes
									blockquote.about-us-video-content__quote “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”
									.about-us-video-content__quote-by Hemant Bajrangi,
									.about-us-video-content__quote-about Happy bonito Customer

								.usefull-tips
									.usefull-tips__heading
										i.fa.fa-lightbulb-o.usefull-tips__icon(aria-hidden="true") 
										h3  Useful tips for a better home!

									p.usefull-tips__info The study room is designed with very minimal furniture, which can also be used as a multipurpose area. Birds on branch wall decor in this room is a perfect blend between natural and elegant decor. The study room is designed with very minimal furnitur.

								h3 Useful tips for a better home!

								ul.useful-tips-list

									li.useful-tips-list__item Pointers can be shown this way. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum .

									li.useful-tips-list__item Or maybe this way Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  ullamco laboris nisi ut aliquip ex ea commodo consequat. 

									li.useful-tips-list__item Or maybe this way Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

								img(src="img/blog-details5.png", alt=" blog details image")

								p This encourages togetherness closeness and creates much more interactive environment for the family. As designers, it boosts the scope of bringing in new ideas in the design as we exist in a vibrant industry where innovation is at the core of most of what we do.

								.comment-section
									p Leave comments here.....
		
		section.related-article
			.container
				.row
					.col-sm-8.col-sm-offset-2.our-blog__intro
						include  ./jade-components/comman/section-intro.jade
						+section-intro("Explore related articles", "Every home’s interior is a story. A story worth knowing and writing about. We give time for this as we know that the next story is yours")


					.col-sm-6.blog-card.blog-card--blog
						.blog-card-wraper
							img.blog-card__img.img-responsive(src="img/blog-img1.png", alt="blog card img")
							.blog-card__label
								span.blog-card__date 03 Nov, 2016
						h3.blog-card__heading A quick look at Salarpuria Greenage apartment interiors at Bommanahalli
						p.blo-card__info There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed...
						a.cta-link.blog-card__cta read more

					.col-sm-6.blog-card.blog-card--blog
						.blog-card-wraper
							img.blog-card__img.img-responsive(src="img/blog-img1.png", alt="blog card img")
							.blog-card__label
								span.blog-card__date 03 Nov, 2016
						h3.blog-card__heading A quick look at Salarpuria Greenage apartment interiors at Bommanahalli
						p.blo-card__info There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some Ut urna dui, interdum non blandit sed...
						a.cta-link.blog-card__cta read more

					.col-sm-12.text-center.related-article__btn
						a.button-default READ MORE BLOGS



 
						


		
		//footer
		include jade-components/base/footer.jade

		script(src="js/plugins/jquery.min.js")
		script(src="js/plugins/bootstrap.min.js")

