<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title 
	link(rel="stylesheet", href="css/main.css")
	
body 
	main
		
		//about bonito section
		include jade-components/home/about-bonito.jade

		//our services seciton
		include jade-components/home/our-services.jade
		
		//our work section
		include jade-components/home/our-work.jade
		
		//abou-tus videos section
		include jade-components/home/about-us-videos.jade
		
		//our blog section
		include jade-components/home/our-blog.jade

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")


