<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title 
	link(rel="stylesheet", href="css/main.css")
	
body
	main

		include jade-components/base/header-nav

		include jade-components/home/banner-slider
		
		//about bonito section
		
		include jade-components/home/about-bonito

		//our services seciton
		include jade-components/home/our-services

		// our-clients

		include jade-components/home/our-clients

		// our-story

		include jade-components/home/our-story

		// footer

		include jade-components/base/footer

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")
