<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Bonito
	link(rel="stylesheet", href="css/main.css")
body

	main

		include jade-components/base/header-nav

		include jade-components/home/banner-slider
		
		//about bonito section
		
		include jade-components/home/about-bonito

		//our services seciton

		include jade-components/home/our-services

		//our work section
		include jade-components/home/our-work.jade

		// our-clients

		include jade-components/home/our-clients

		// our-story

		include jade-components/home/our-story
				
		//abou-tus videos section

		include jade-components/home/about-us-videos.jade
		
		//our blog section

		include jade-components/home/our-blog.jade

		//get-in-touch
	
		include jade-components/home/get-in-touch.jade

		include jade-components/base/footer.jade

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")
	script(src="js/plugins/jquery.stellar.min.js")
	script(src="js/plugins/SmoothScroll.js")
	script(src="js/plugins/jquery.magnific-popup.min.js")
	script(src="js/plugins/slick.min.js")
	script(src="js/plugins/classie.js")  	
	script(src="js/plugins/masonry.pkgd.min.js")
	
	script(src="js//masonry-initialization.js")
	script(src="js/plugins/main.js")




