<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Hakuna Matata

	link(rel="stylesheet", href="css/main.css")
	script(src="js/plugins/modernizr-dev.js")
	script(src="js/plugins/bowser.js")
	
body
	main
		.container
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste odit error facilis sequi cumque, iusto rem, eum totam accusamus sunt reprehenderit dolores ipsa porro corporis maxime. Quisquam, quasi nam officia!

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")
