<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Testimonials
	link(rel="stylesheet", href="css/main.css")

body

	main

		include jade-components/base/header-nav.jade

		section
			.container

				// project-heading

				.project-heading
					include ./jade-components/comman/section-intro.jade
					+section-intro("Shaaman Ahuja", "Salarpuria Senorita Apartments")

		include jade-components/base/footer.jade

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")
	script(src="js/plugins/jquery.stellar.min.js")
	script(src="js/plugins/SmoothScroll.js")
	script(src="js/plugins/jquery.magnific-popup.min.js")
	script(src="js/plugins/slick.min.js")
	script(src="js/plugins/classie.js")  	
	script(src="js/plugins/main.js")



