<!DOCTYPE html>
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title 
	link(rel="stylesheet", href="css/main.css")

body

	main

		include jade-components/base/header-nav.jade

		section.testimonials
			.container
				.project-heading
					include ./jade-components/comman/section-intro.jade
					+section-intro("Testimonials")
				.row
					ul.testimonials-media.clearfix
						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”

						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”

						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”
									
						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”	
									

						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									.testimonial-media-video
										img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
										a.btn-play.btn-play--danger.anchor(href="")
											i.fa.fa-play
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”

						li.testimonials-media__list
							.col-xs-12.col-sm-4.col-md-3
								.testimonials-media__left-wrapper.card
									.testimonial-media-video
										img.img-circle(src="img/testimonials/tetimonials-img1.jpg", alt="about-video-baner")
										a.btn-play.btn-play--danger.anchor(href="")
											i.fa.fa-play
									.card__info
										h4 Mihit Kottekattinmel
										span 3 BHK Apartment, project completed in 2015	
							.col-xs-12.col-sm-8.col-md-9
								.testimonials-media__right-wrapper
									span “I was pretty impressed with the Bonito videos that I saw on youtube and contacted them to furnish my apartment in Bangalore. Since I do not live in Bangalore, the entire project was managed online”														


		include jade-components/base/footer.jade

	script(src="js/plugins/jquery.min.js")
	script(src="js/plugins/bootstrap.min.js")
	script(src="js/plugins/jquery.stellar.min.js")
	script(src="js/plugins/SmoothScroll.js")
	script(src="js/plugins/jquery.magnific-popup.min.js")
	script(src="js/plugins/slick.min.js")
	script(src="js/plugins/classie.js")
	script(src="js/plugins/masonry.pkgd.min.js")
	script(src="js//masonry-initialization.js")  	
	script(src="js/plugins/main.js")



